<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    在这个任务中，您需要检查给定序列中的所有元素是否相等。
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}all-same.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入</strong> {% if is_js %}数组{% else %}列表{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong>逻辑值 <span>(bool{% if is_js %}ean{% endif %})</span>. 
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>示例：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p><i>这个任务的想法是在<a href="https://dbader.org/">Python Tricks series by Dan Bader</a></i></p>
<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->

{% if is_js %}{% else %}

<p>
    <strong>前提条件：</strong>
    <i>输入列表中的所有元素都是散列的</i>
</p>
{% endif %}
