<!-- Describe task in general -->

<p>
    У цій місії ви повинні перевірити, чи всі елементи вказані в {% if interpreter.slug == "js-node" %}масиві{% else %}списку{% endif %} є однаковими.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані: </strong> {% if interpreter.slug == "js-node" %}Масив{% else %}Список{% endif %}.
</p>

<p>
    <strong>Вихідні дані: </strong> Булів. 
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклад:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">
allTheSame([1, 1, 1]) == true
allTheSame([1, 2, 1]) == false
allTheSame(['a', 'a', 'a']) == true
allTheSame([]) == true
</pre>
{% else %}
<pre class="brush: python">
all_the_same([1, 1, 1]) == True
all_the_same([1, 2, 1]) == False
all_the_same(['a', 'a', 'a']) == True
all_the_same([]) == True
</pre>
{% endif %}
</div>
<p><i>Ідея цієї місії була знайдена в<a href="https://dbader.org/">Python Tricks series by Dan Bader</a></i></p>
<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->

{% if interpreter.slug == "js-node" %}{% else %}

<p>
    <strong>Передумова:</strong>
    <i>всі елементи списку мають хеш</i>
</p>
{% endif %}
