<!-- Describe task in general -->

<p>
    In this mission you should check if all elements in the given {% if is_js %}<span translate="repeat">array</span>{% else %}<span translate="repeat">list</span>{% endif %} are equal.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}<span translate="repeat">Array</span>{% else %}<span translate="repeat">List</span>{% endif %}.
</p>

<p>
    <strong>Output:</strong> {% if is_js %}<span translate="repeat">Boolean</span>{% else %}<span translate="repeat">Bool</span>{% endif %}. 
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p><i>The idea for this mission was found on <a href="https://dbader.org/">Python Tricks series by Dan Bader</a></i></p>
<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->

{% if is_js %}{% else %}

<p>
    <strong>Precondition:</strong>
    <i>all elements of the input list are hashable</i>
</p>
{% endif %}
