<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    In this mission you should check if all elements in the given sequence are equal.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}all-same.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> <span translate="repeat">{% if is_js %}Array{% else %}List{% endif %}</span>.
</p>

<p>
    <strong>Output:</strong> Logic value <span translate="no">(bool{% if is_js %}ean{% endif %})</span>. 
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p><i>The idea for this mission was found on <a href="https://dbader.org/">Python Tricks series by Dan Bader</a></i></p>
<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->

{% if is_js %}{% else %}

<p>
    <strong>Precondition:</strong>
    <i>all elements of the input list are hashable</i>
</p>
{% endif %}
