<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    В этой миссии Вам надо определить, все ли элементы массива равны.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}all-same.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Входные: </strong> {% if interpreter.slug == "js-node" %}Array{% else %}List{% endif %}.
</p>

<p>
    <strong>Выходные: </strong> Bool. 
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Примеры:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->
{% if interpreter.slug == "js-node" %}{% else %}

<p>
    <strong>Precondition:</strong>
    <i>all elements of the input list are hashable</i>
</p>
{% endif %}