<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    W tym zadaniu należy sprawdzić, czy wszystkie elementy w podanej sekwencji są równe.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}all-same.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Dane wejściowe:</strong> {% if is_js %}Array{% else %}List{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> Wartość logiczna <span>(bool{% if is_js %}ean{% endif %})</span>. 
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p><i>Pomysł na tę misję został znaleziony na <a href="https://dbader.org/">Python Tricks series by Dan Bader</a></i></p>
<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->

{% if is_js %}{% else %}

<p>
    <strong>Warunek wstępny:</strong>
    <i>wszystkie elementy listy wejściowej są haszowalne</i>
</p>
{% endif %}
